# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

**/*.html
text_gen_output/RNN_large_textdata_output.txt
**/*.hdf5
